
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
section{
	padding-left: 30px;
	margin: 2em 0;
	overflow: hidden;
}
img{
	
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}
input{
	height: 30px;
	width: 500px;
}
input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(0.5); /* IE */
  -moz-transform: scale(0.5); /* FF */
  -webkit-transform: scale(0.5); /* Safari and Chrome */
  -o-transform: scale(0.5); /* Opera */
  padding: 10px;
}
button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}
