
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/student-hat.png">	
    <title>SisAcad</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
   
</head>

<body>
    <div class="container">
     <section style="float: left;margin-top: 30px;padding-left: 230px;">     
     	<table>
			<td>
				<img src="img/student-hat.png" style="width: 200px;height: 250px;"/>
			</td>
			<td>
				<h1 style="font-size: 100px;color: black;">SisAcad</h1>
			</td>
		</table>
	</section>
   
	<aside style="margin-left: 5px;padding-top: 250px;">		 
		<form class="form-signin">
			<h2 class="form-signin-heading" align="center">Login</h2>
			<label for="inputUser" class="sr-only">Usuário</label>
			<input type="user" id="inputUser" class="form-control" placeholder="Usuário" required autofocus>
			<label for="inputPassword" class="sr-only">Senha</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
			<button id="btn-login" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		</form>
    </aside>  	
      
  	</div> 
  	<script src="js/login.js"></script>
</body>
</html>
